<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <td><%= number_to_currency @product.price, unit: "€", separator: ",", format: "%n%u" %></td>
</p>

<p>
  <strong>Image url:</strong>
  <td><%= image_tag @product.image_url, width: 50 %></td>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
